<!DOCTYPE html>
<html lang="pt">
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="https://cdn.glitch.global/15c3fba3-334e-4478-97c3-3c9463994ee9/15.png?v=1669068152772"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <title>15 anos da Letícia Cabral</title>
    <link
      rel="stylesheet"
      href="https://splashy-crimson-ounce.glitch.me/style.css"
    />
    <script src="/script.js" defer></script>
  </head>
  <body style="background-color: #f3b6b6">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Mea+Culpa&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Solway:wght@300&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200&family=Spectral:wght@300&family=Trocchi&display=swap");
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    </style>
    <header>
      <navbar>
        <h1 class="titulo">
          15 anos Letícia Cabral
        </h1>
      </navbar> <br>
    </header>
    <div>
      <img src="https://cdn.glitch.global/15c3fba3-334e-4478-97c3-3c9463994ee9/1970-01-20-054817871.jpg?v=1673299198653" alt="Nature" class="responsive">
    </div>
    <h2 class="verso">
      "Bendiga ao Senhor a minha
      alma! Não esqueça de nenhuma de suas bênçãos!"
      <b> - Salmos 103:2 </b></h2>
    <h2 class="t">
      É com grande alegria que eu e meus pais <br> te convidamos para comemorar <br> meu aniversário de 15 anos!
    </h2>

    <h2 class="data"> <b> 05/03/2023 às 13h </b> </h2>
    <h2 class="lugar">Vale do Alto Eventos</h2>
    <h2 class="local">
      Av. Édison Passos, 4517 <br> - Alto da Boa Vista, Rio de Janeiro
    </h2>

    <div>
      <h3 class="presente">Guias para o presente:</h3>
        <img src="https://cdn.glitch.global/15c3fba3-334e-4478-97c3-3c9463994ee9/Add%20a%20little%20bit%20of%20body%20text%20(5).png?v=1673302934702" alt="Nature" class="tamanhos" style="padding:1%">
    </div>  
    <br>
    
    <a href="confirmars/new">
      <button class="confirm">
        <b class="aqui"> CONFIRME SUA PRESENÇA AQUI! </b>
      </button>
    </a><br><br>
  </body>
</html>
